* {box-sizing: border-box;}

body {
    overflow: hidden;
    /*background-color: #FFEEC0;*/
}
.child--password--input .inputBox{
    position: absolute;
    top: 41.2%;
    left: 41%;
    color: #3A3A72;
    background-color: #FBFFEA;
    border-color: #FBFFEA;
    width: 20%;
    height: 5%;
    margin-top: 2%
}
.child--password--input .errorLabel{
    color: #FF00FF;
}
.child--username--input .inputBox{
    position: absolute;
    top: 30%;
    left: 41%;
    color: #3A3A72;
    background-color: #FBFFEA;
    border-color: #FBFFEA;
    width: 20%;
    height: 5%;
    margin-top: 2%
}
.parent--username--input .errorLabel{
    color: #FF00FF;
}


.parent--password--input .inputBox{
    position: absolute;
    top: 41.5%;
    left: 41%;
    color: #3A3A72;
    background-color: #cbd8e5;
    border-color: #cbd8e5;
    width: 20%;
    height: 5%;
    margin-top: 2%
}
.parent--password--input .errorLabel{
    color: #FF00FF;
}
.parent--username--input .inputBox{
    position: absolute;
    top: 30%;
    left: 41%;
    color: #3A3A72;
    background-color: #cbd8e5;
    border-color: #cbd8e5;
    width: 20%;
    height: 5%;
    margin-top: 2%
}
.child--username--input .errorLabel{
    color: #FF00FF;
}


.welcome--img {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -25%);
    width: 35%;
    height: auto;
}
.login--text1 {
    color: #88CAFC;
    position: absolute;
    top: 20%;
    left:  59%;
    font-Size: 2.5vw;
    margin-bottom: 2%;
    margin-top: 2%;
}

.login--text2{
    color: #88CAFC;
    position: absolute;
    width: 20%;
    top: 53%;
    left:  59%;
    font-Size: 2.5vw;
    margin-bottom: 2%;
    margin-top: 2%;
}

.login--as--parent{
    color: #FFFFFF;
    margin-left: 42%;
    margin-top: 5%;
}

.login--as--child{
    color: #FFFFFF;
    margin-left: 42%;
    margin-top: 5%;
}

.username--parent--text{
    color: #FFFFFF;
    margin-left: 41.5%;
    font-size: 1.1vw;
    position: absolute;
}

.password--parent--text{
    color: #FFFFFF;
    margin-left: 41.5%;
    margin-top: 4%;
    font-size: 1.1vw;
    position: absolute;
}

.login--img{
    position: absolute;
    top: 55%;
    width: 35%;
    height: auto;
}

