nav2 {
    height: 10%;
    margin-top: 0;
    display: flex;
    align-items: center;
    background-color: #3A3A72;
}

.nav--img2 {
    width:5%;
    height:100%;
    margin-right: 0.5%;
}
.nav--text2 {
    padding-top: 0.5%;
    padding-bottom: 0.25%;
}

.nav--text12 {
    font-size: 1.4vw;
    color: #FFFDEE;
    margin-bottom: 0;
}

.nav--text22 {
    font-size: 1.2vw;
    color: #FFFDEE;
    margin-top: 0;
}