* {box-sizing: border-box;}

body {
    background-color: #FFEEC0;}

::placeholder {
    color: #FFF;
}

nav {
    height: 10%;
    margin-top: 0;
    display: flex;
    align-items: center;
    background-color: #88CAFC;
}

.nav--img {
    width:5%;
    height:100%;
    margin-right: 0.5%;
}

.nav--text {
    /*flex-direction: column;*/
    padding-top: 0.5%;
    padding-bottom: 1%;
}

.nav--text1 {
    font-size: 1.4vw;
    color: #FFEEC0;
}

.nav--text2 {
    font-size: 1.2vw;
    color: #FDFEFF;
}
.message{
    width: 58%;
    height: 17%;
    transform: translate(-10%, 20%);
    border-radius: 100px;
    font-size: 1vw;
}
.welcome--img {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -25%);
    width: 40%;
    height: auto;
}
.button {
    color: #FFF;
    border: none;
    border-radius: 10px;
    font-size: 1.5vw;
    height: 9%;
    width: 12%;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}

.login--text {
    color: #88CAFC;
    position: absolute;
    top: 19%;
    left: 59%;
    font-Size: 2.5vw;
    margin-top: 2%;

}

.login--text2{
    color: #88CAFC;
    position: absolute;
    top: 53%;
    left:  59%;
    font-Size: 2.5vw;
    margin-bottom: 2%;
    margin-top: 2%;
}
.small--text{
    font-size: 1vw;
}
.medium--text{
    font-size: 1.5vw;
}

.plus-button {
    background-color: #88CAFC;
    border: none;
    border-radius: 50%;
    color: #FFFDEE;
    font-size:5vw;
    width: 5%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(90%, 80%);
    font-weight: bold;
    cursor: pointer;
}

.plus-button:hover {
    background-color: #FFFDEE;
    color: #88CAFC;
}







