* {box-sizing: border-box;}

body {
    height: 100vh;
    //overflow: hidden;
    background-color: #FFEEC0;
}

nav {
    background-color: #88CAFC;
    height: 70px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.nav--img {
    padding-top: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
}

.nav--text {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 10px;
}

.nav--text1 {
    padding: 0 0;
    margin-bottom: 0;
    color: #FFEEC0;
}

.nav--text2 {
    margin-top: 0;
    padding: 0 0;
    color: #FDFEFF;
}

welcome {

}
.message--text {
    color: #88CAFC;
    background-color: #FDFEFF;
    width: 43%;
    height: 20%;
    margin-left: 45%;
    margin-top: 7%;
    border-radius: 100px;
    font-size: 1vw;
}

.message--text1 {
    align-items: center;
    padding: 5% 10% 0 10%;
/*    top, right, bottom, left*/
}

.message--text2 {
    padding: 0 10% 5% 10%;
}

.welcome--img {
    margin: 1% 80% 60% 16%;
    width: 30%;
    height: 45%;
}






