* {box-sizing: border-box;}

body {
    background-color: #FFEEC0;
}
.ParentLoginPage {
    background-color: #FFFDEE;
}
.LoginPage{
    background-color: #B0C5DA;
}


nav {
    height: 10%;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.nav--img {
    width:5%;
    height:5%;
    margin-right: 0.5%;
}
.nav--text1 {
    font-size: 1vw;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.nav--text2 {
    font-size: 1.2vw;
    margin-bottom: 0;
}


.welcome--img {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -25%);
    width: 40%;
    height: auto;
}
.button {
    color: #FFF;
    border: none;
    border-radius: 10px;
    font-size: 1.5vw;
    height: 9%;
    width: 12%;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}

.login--text {
    color: #88CAFC;
    position: absolute;
    top: 20%;
    left: 59%;
    font-Size: 2.5vw;
    margin-top: 2%;

}

.login--text2{
    color: #88CAFC;
    position: absolute;
    top: 53%;
    left:  59%;
    font-Size: 2.5vw;
    margin-bottom: 2%;
    margin-top: 2%;
}








